#navLight{
	display: none;
}

#peopleNav{
	background: url('../images/navBack.png');
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 10;
	padding: 0px 0 0 100px;
	li{
		padding-bottom: 30px;
	}
}

#peopleNav ul {
	position: relative;
	left: -25px;
	list-style-type: none;
}

#peopleNav li a {
	font-family: AvenirNextLTPro-Cn;
	color: #ffffff;
	font-size: 16pt;
	text-decoration: none;
}

.homeLink a {
	position: relative;
	left: 10px;
	top: -20px;
	color: #ffffff;
	text-decoration: none;
}