/////////////////////////////////////////////
//typogrpahy
/////////////////////////////////////////////

h1{
	color: #fff;
	font-size: 34pt;
	text-transform: uppercase;
	font-family: AvenirNextLTPro-DemiCn;
}

h3{

	font-size: 24pt;
	font-family: AvenirNextLTPro-Cn;
}

h4{
	font-size: 20pt;
	font-family: AvenirNextLTPro-Regular;
}

h5{
font-size: 16pt;
font-family: AvenirNextLTPro-Demi;
text-transform: uppercase;
}

p{
	font-size: 16pt;
	font-family: Avenir-Light;
}