/* line 5, ../sass/_typography.scss */
h1 {
  color: #fff;
  font-size: 34pt;
  text-transform: uppercase;
  font-family: AvenirNextLTPro-DemiCn;
}

/* line 12, ../sass/_typography.scss */
h3 {
  font-size: 24pt;
  font-family: AvenirNextLTPro-Cn;
}

/* line 18, ../sass/_typography.scss */
h4 {
  font-size: 20pt;
  font-family: AvenirNextLTPro-Regular;
}

/* line 23, ../sass/_typography.scss */
h5 {
  font-size: 16pt;
  font-family: AvenirNextLTPro-Demi;
  text-transform: uppercase;
}

/* line 29, ../sass/_typography.scss */
p {
  font-size: 16pt;
  font-family: Avenir-Light;
}

/* line 34, ../sass/_typography.scss */
.healH4 {
  display: block;
  margin-top: 40px;
  font-size: 24pt;
}

/* line 1, ../sass/_navs.scss */
#navLight {
  display: none;
}

/* line 5, ../sass/_navs.scss */
#peopleNav {
  background: url("../images/navBack.png");
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 10;
  padding: 0px 0 0 100px;
}
/* line 12, ../sass/_navs.scss */
#peopleNav li {
  padding-bottom: 30px;
}

/* line 17, ../sass/_navs.scss */
#peopleNav ul {
  position: relative;
  left: -25px;
  list-style-type: none;
}

/* line 23, ../sass/_navs.scss */
#peopleNav li a {
  font-family: AvenirNextLTPro-Cn;
  color: #ffffff;
  font-size: 16pt;
  text-decoration: none;
}

/* line 30, ../sass/_navs.scss */
.homeLink a {
  position: relative;
  left: 10px;
  top: -20px;
  color: #ffffff;
  text-decoration: none;
}

/* line 41, ../sass/_navs.scss */
#nav {
  background: url("../images/enviroNavBack.jpg");
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 10;
  padding: 50px 0 0 60px;
}

/* line 50, ../sass/_navs.scss */
#nav ul {
  position: relative;
  left: -38px;
  list-style-type: none;
}
/* line 54, ../sass/_navs.scss */
#nav ul li {
  padding-bottom: 30px;
}

/* line 59, ../sass/_navs.scss */
#nav li a {
  font-family: AvenirNextLTPro-Cn;
  color: #ffffff;
  font-size: 16pt;
  text-decoration: none;
}

/* line 66, ../sass/_navs.scss */
#nav .homeLink {
  position: relative;
  left: -20px;
  color: #ffffff;
  text-decoration: none;
}

/* line 75, ../sass/_navs.scss */
.sustainHeaderLight {
  display: none;
}

/* line 79, ../sass/_navs.scss */
.healthyHeaderLight {
  display: none;
}

/* line 83, ../sass/_navs.scss */
.lifestyleHeaderLight {
  display: none;
}

/* line 89, ../sass/_navs.scss */
.knowledgeHeaderLight {
  display: none;
}

/* line 95, ../sass/_navs.scss */
.financeHeaderLight {
  display: none;
}

/* line 1, ../sass/_healthyPeople.scss */
.peopletop {
  background: url("../images/peopleTop.jpg") no-repeat;
  height: 600px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 10, ../sass/_healthyPeople.scss */
.peopleBlue {
  display: none;
  color: #ffffff;
  text-align: center;
  margin: 134px 0 0 776px;
  position: absolute;
  z-index: 12;
  width: 192px;
  height: 146px;
  background: url("../images/blueBack.png");
}

/* line 22, ../sass/_healthyPeople.scss */
.peopleCoral {
  display: none;
  color: #ffffff;
  text-align: center;
  margin: 402px 0 0 519px;
  position: absolute;
  z-index: 13;
  width: 257px;
  height: 198px;
  background: url("../images/coralBack.png");
}

/* line 34, ../sass/_healthyPeople.scss */
.peopleOrange {
  display: none;
  color: #ffffff;
  text-align: center;
  margin: 495px 0 0 775px;
  position: absolute;
  z-index: 14;
  width: 256px;
  height: 105px;
  background: url("../images/orangeBack.png");
}

/* line 48, ../sass/_healthyPeople.scss */
#peopleServed {
  margin-left: 350px;
}

/* line 55, ../sass/_healthyPeople.scss */
.servedHeader {
  background: #d36c53;
  height: 400px;
  float: left;
  overflow: hidden;
  text-align: center;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 63, ../sass/_healthyPeople.scss */
.servedHeader img {
  padding-top: 90px;
}
/* line 68, ../sass/_healthyPeople.scss */
.servedHeader h3 {
  position: relative;
  top: 43px;
  color: #fff;
}

/* line 75, ../sass/_healthyPeople.scss */
.servedHeaderLight {
  display: none;
}

/* line 79, ../sass/_healthyPeople.scss */
.servedContent {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 83, ../sass/_healthyPeople.scss */
.servedContent h4 {
  padding-left: 40px;
}
/* line 86, ../sass/_healthyPeople.scss */
.servedContent p {
  padding-left: 40px;
}

/* line 93, ../sass/_healthyPeople.scss */
.servedWrapper {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 97, ../sass/_healthyPeople.scss */
.bridging {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}
/* line 104, ../sass/_healthyPeople.scss */
.bridging img {
  float: right;
}

/* line 109, ../sass/_healthyPeople.scss */
.medAssistance {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}
/* line 112, ../sass/_healthyPeople.scss */
.medAssistance img {
  float: left;
  margin-bottom: 100px;
  margin-right: 15px;
}
/* line 117, ../sass/_healthyPeople.scss */
.medAssistance .medImage {
  float: right;
  margin-left: 20px;
}

/* line 123, ../sass/_healthyPeople.scss */
.medicaid {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
}

/* line 131, ../sass/_healthyPeople.scss */
.mediStats {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 133, ../sass/_healthyPeople.scss */
.mediStats img {
  display: block;
  margin: 0 auto;
}

/* line 140, ../sass/_healthyPeople.scss */
.hawaiiStats {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}
/* line 143, ../sass/_healthyPeople.scss */
.hawaiiStats img {
  width: 100%;
}

/* line 148, ../sass/_healthyPeople.scss */
.smallText {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 153, ../sass/_healthyPeople.scss */
.freeSurgery {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 163, ../sass/_healthyPeople.scss */
.standardBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 170, ../sass/_healthyPeople.scss */
.safetyNetBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  overflow: hidden;
}
/* line 173, ../sass/_healthyPeople.scss */
.safetyNetBlock .imgRight {
  overflow: hidden;
  height: 200px;
}
/* line 177, ../sass/_healthyPeople.scss */
.safetyNetBlock .imgRight img {
  height: 100%;
}

/* line 183, ../sass/_healthyPeople.scss */
.safetyBlue {
  float: left;
  height: 200px;
  width: 200px;
  background-color: #007aae;
}
/* line 188, ../sass/_healthyPeople.scss */
.safetyBlue h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 45px;
}

/* line 197, ../sass/_healthyPeople.scss */
.commHealth {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
  padding-top: 40px;
}

/* line 202, ../sass/_healthyPeople.scss */
.commText {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 205, ../sass/_healthyPeople.scss */
.commImg {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 207, ../sass/_healthyPeople.scss */
.commImg img {
  width: 100%;
}

/* line 212, ../sass/_healthyPeople.scss */
.partner {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 216, ../sass/_healthyPeople.scss */
.parImg {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-top: 40px;
}
/* line 219, ../sass/_healthyPeople.scss */
.parImg img {
  width: 100%;
}

/* line 223, ../sass/_healthyPeople.scss */
.parText {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 230, ../sass/_healthyPeople.scss */
.servedWrapper2 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 238, ../sass/_healthyPeople.scss */
.equitableBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 40px;
  overflow: hidden;
}
/* line 242, ../sass/_healthyPeople.scss */
.equitableBlock .imgRight {
  overflow: hidden;
  height: 200px;
}
/* line 246, ../sass/_healthyPeople.scss */
.equitableBlock .imgRight img {
  height: 100%;
}

/* line 251, ../sass/_healthyPeople.scss */
.equitOrange {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fba504;
}
/* line 256, ../sass/_healthyPeople.scss */
.equitOrange h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* line 266, ../sass/_healthyPeople.scss */
.standardWrapper {
  padding-top: 40px;
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

@media only screen and (max-width: 1100px) {
  /* line 279, ../sass/_healthyPeople.scss */
  .servedHeader {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    height: 100px;
  }
  /* line 282, ../sass/_healthyPeople.scss */
  .servedHeader h3 {
    top: 10px;
  }

  /* line 286, ../sass/_healthyPeople.scss */
  .servedContent {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 291, ../sass/_healthyPeople.scss */
  .safetyNetBlock {
    margin-top: 40px;
  }
  /* line 293, ../sass/_healthyPeople.scss */
  .safetyNetBlock .imgRight {
    display: none;
  }

  /* line 298, ../sass/_healthyPeople.scss */
  .safetyBlue {
    width: 100%;
    height: 100px;
  }
  /* line 301, ../sass/_healthyPeople.scss */
  .safetyBlue h3 {
    top: 0px;
  }

  /* line 308, ../sass/_healthyPeople.scss */
  .equitableBlock .imgRight {
    display: none;
  }

  /* line 313, ../sass/_healthyPeople.scss */
  .equitOrange {
    width: 100%;
    height: 100px;
  }
  /* line 316, ../sass/_healthyPeople.scss */
  .equitOrange h3 {
    top: -15px;
  }
}
@media only screen and (max-width: 846px) {
  /* line 326, ../sass/_healthyPeople.scss */
  p {
    font-size: 14pt;
  }

  /* line 331, ../sass/_healthyPeople.scss */
  .bridging img {
    width: 100%;
  }

  /* line 338, ../sass/_healthyPeople.scss */
  .medAssistance .medImage {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    float: none;
    margin: 0px;
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  /* line 349, ../sass/_healthyPeople.scss */
  .medass {
    width: 100%;
  }

  /* line 354, ../sass/_healthyPeople.scss */
  .medicaid img {
    width: 100%;
  }

  /* line 360, ../sass/_healthyPeople.scss */
  .mediStats img {
    width: 100%;
  }

  /* line 365, ../sass/_healthyPeople.scss */
  .commImg {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 369, ../sass/_healthyPeople.scss */
  .commText {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 373, ../sass/_healthyPeople.scss */
  .parImg {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 377, ../sass/_healthyPeople.scss */
  .parText {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
@media only screen and (max-width: 750px) {
  /* line 386, ../sass/_healthyPeople.scss */
  #peopleNav {
    display: none !important;
  }

  /* line 390, ../sass/_healthyPeople.scss */
  #navLight {
    text-align: center;
    display: block !important;
    position: fixed;
    height: 100px;
    width: 100%;
    color: #fff;
    z-index: 999999999;
    background: url("../images/navBackLight.png");
    background-size: cover;
  }
  /* line 401, ../sass/_healthyPeople.scss */
  #navLight h5 {
    position: relative;
    top: -30px;
  }
  /* line 405, ../sass/_healthyPeople.scss */
  #navLight .linkNavLight {
    color: #ffffff;
    font-size: 10pt;
    padding: 0 10px;
    text-decoration: none;
    position: relative;
    top: -61px;
  }

  /* line 415, ../sass/_healthyPeople.scss */
  #peopleServed {
    margin: 0;
  }

  /* line 419, ../sass/_healthyPeople.scss */
  .peopletop {
    background-position: 25% 75%;
  }
}
/* line 1, ../sass/_enviro.scss */
.envirotop {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: url("../images/enviroTop.jpg") no-repeat center top;
  height: 600px;
}

/* line 10, ../sass/_enviro.scss */
.topContentSus {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 15, ../sass/_enviro.scss */
.sustainHeader {
  background-color: blue;
  height: 100px;
  width: 100px;
  float: left;
}

/* line 23, ../sass/_enviro.scss */
.sustainHeader {
  height: 200px;
  width: 200px;
  background-color: #95cd95;
}
/* line 27, ../sass/_enviro.scss */
.sustainHeader h3 {
  display: block;
  position: relative;
  top: 45px;
  color: #ffffff;
  padding: 2px 0 28px 49px;
  margin: 0;
}
/* line 36, ../sass/_enviro.scss */
.sustainHeader a {
  position: relative;
  top: 45px;
  color: #fff;
  padding: 0 0 0 49px;
}

/* line 44, ../sass/_enviro.scss */
.sustainImg {
  clear: both;
  float: right;
  overflow: hidden;
  height: 200px;
}
/* line 49, ../sass/_enviro.scss */
.sustainImg img {
  height: 100%;
}

/* line 58, ../sass/_enviro.scss */
.sustainContent {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 63, ../sass/_enviro.scss */
.sustainStatsImg {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 65, ../sass/_enviro.scss */
.sustainStatsImg img {
  margin: 0 auto;
  width: 100%;
}

/* line 71, ../sass/_enviro.scss */
.healthyBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  overflow: hidden;
  margin-top: 40px;
}
/* line 75, ../sass/_enviro.scss */
.healthyBlock .healthyImg {
  overflow: hidden;
  height: 200px;
}
/* line 78, ../sass/_enviro.scss */
.healthyBlock .healthyImg img {
  height: 100%;
}

/* line 84, ../sass/_enviro.scss */
.healthyHeader {
  float: left;
  height: 200px;
  width: 200px;
  background-color: #d36c53;
}
/* line 89, ../sass/_enviro.scss */
.healthyHeader h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 45px;
}

/* line 98, ../sass/_enviro.scss */
.healthyContent {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 104, ../sass/_enviro.scss */
.enviroWrapper {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 109, ../sass/_enviro.scss */
.farmers {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 111, ../sass/_enviro.scss */
.farmers img {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 117, ../sass/_enviro.scss */
.farmertext {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 121, ../sass/_enviro.scss */
.hospital {
  margin-top: 30px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 124, ../sass/_enviro.scss */
.hospital img {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 127, ../sass/_enviro.scss */
.hospital p {
  width: 40.67797%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 133, ../sass/_enviro.scss */
.urban {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 137, ../sass/_enviro.scss */
.healthAmerica {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
  margin-top: 40px;
}

/* line 145, ../sass/_enviro.scss */
.lifestyleBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  overflow: hidden;
  margin-top: 40px;
}
/* line 149, ../sass/_enviro.scss */
.lifestyleBlock .lifestyleImage {
  overflow: hidden;
  height: 200px;
}
/* line 152, ../sass/_enviro.scss */
.lifestyleBlock .lifestyleImage img {
  height: 100%;
}

/* line 158, ../sass/_enviro.scss */
.lifestyleHeader {
  float: left;
  height: 200px;
  width: 200px;
  background-color: #2175ad;
}
/* line 163, ../sass/_enviro.scss */
.lifestyleHeader h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 45px;
}

/* line 171, ../sass/_enviro.scss */
.walkText {
  margin-top: 40px;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 176, ../sass/_enviro.scss */
.walkVideo {
  margin-top: 40px;
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

@media only screen and (max-width: 1100px) {
  /* line 186, ../sass/_enviro.scss */
  .urban img {
    width: 90%;
  }

  /* line 193, ../sass/_enviro.scss */
  .hospital img {
    width: 90%;
  }
  /* line 196, ../sass/_enviro.scss */
  .hospital p {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 201, ../sass/_enviro.scss */
  .lifestyleHeader {
    width: 100%;
    height: 100px;
  }
  /* line 204, ../sass/_enviro.scss */
  .lifestyleHeader h3 {
    top: -10px;
  }

  /* line 209, ../sass/_enviro.scss */
  .lifestyleImage {
    display: none;
  }

  /* line 213, ../sass/_enviro.scss */
  .healthyHeader {
    width: 100%;
    height: 100px;
  }
  /* line 216, ../sass/_enviro.scss */
  .healthyHeader h3 {
    top: -15px;
  }

  /* line 220, ../sass/_enviro.scss */
  .healthyImg {
    display: none;
  }

  /* line 224, ../sass/_enviro.scss */
  .sustainHeader {
    width: 100%;
    height: 100px;
  }
  /* line 227, ../sass/_enviro.scss */
  .sustainHeader h3 {
    text-align: center;
    top: 10px;
  }
  /* line 231, ../sass/_enviro.scss */
  .sustainHeader a {
    display: none;
  }

  /* line 236, ../sass/_enviro.scss */
  .sustainImg {
    display: none;
  }

  /* line 240, ../sass/_enviro.scss */
  .walkText {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 244, ../sass/_enviro.scss */
  .walkVideo {
    margin: 0 auto;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
@media only screen and (max-width: 846px) {
  /* line 253, ../sass/_enviro.scss */
  .enviroWrapper {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-left: 8.47458%;
  }

  /* line 258, ../sass/_enviro.scss */
  .envirotop {
    background-position: left top;
  }

  /* line 263, ../sass/_enviro.scss */
  .farmers img {
    margin: 0 auto;
    width: 90%;
  }

  /* line 269, ../sass/_enviro.scss */
  .farmertext {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 278, ../sass/_enviro.scss */
  .heal img {
    width: 90%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 288, ../sass/_enviro.scss */
  #nav {
    display: none !important;
  }

  /* line 292, ../sass/_enviro.scss */
  .envirotop {
    background-position: right top;
  }

  /* line 296, ../sass/_enviro.scss */
  header {
    display: none;
  }
}
/* line 1, ../sass/_know.scss */
.knowledgetop {
  background: url("../images/knowledgeTop.jpg") no-repeat center top;
  height: 600px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 7, ../sass/_know.scss */
.headerBlockKnow {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 11, ../sass/_know.scss */
.knowledgeHeader {
  background: #da9201;
  position: relative;
  top: -32px;
  height: 200px;
  width: 200px;
}
/* line 17, ../sass/_know.scss */
.knowledgeHeader h3 {
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

/* line 26, ../sass/_know.scss */
.knowledgeContent {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 28, ../sass/_know.scss */
.knowledgeContent li {
  font-size: 16pt;
}

/* line 34, ../sass/_know.scss */
.knowWrapper {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 38, ../sass/_know.scss */
.training {
  margin-top: 40px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 43, ../sass/_know.scss */
.trainingText {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 47, ../sass/_know.scss */
.trainingImg {
  margin-top: 40px;
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-right: 8.47458%;
}
/* line 51, ../sass/_know.scss */
.trainingImg img {
  width: 99%;
}

/* line 58, ../sass/_know.scss */
.focus {
  position: relative;
  left: -20px;
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
  background: url("../images/focusBack.jpg") no-repeat;
}
/* line 64, ../sass/_know.scss */
.focus img {
  width: 100%;
}

/* line 69, ../sass/_know.scss */
.publish {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 71, ../sass/_know.scss */
.publish h4 {
  margin: 10px 0 40px 0;
}

/* line 81, ../sass/_know.scss */
.column {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 5px 1px #ccc;
  -webkit-box-shadow: 1px 3px 5px 1px #ccc;
  box-shadow: 1px 3px 5px 1px #ccc;
  min-height: 260px;
}
/* line 184, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
.column:nth-child(4n) {
  float: right;
  margin-right: 0;
}
/* line 89, ../sass/_know.scss */
.column span {
  display: block;
  padding: 9px;
}
/* line 93, ../sass/_know.scss */
.column p {
  padding: 9px;
  font-size: 90%;
}

/* line 99, ../sass/_know.scss */
.publishTitle {
  font-size: 11pt;
}

/* line 103, ../sass/_know.scss */
.knowHeaderWrapper2 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 110, ../sass/_know.scss */
.knowBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: blue;
  margin-top: 40px;
  overflow: hidden;
}
/* line 115, ../sass/_know.scss */
.knowBlock .imgRight {
  overflow: hidden;
  height: 200px;
}
/* line 119, ../sass/_know.scss */
.knowBlock .imgRight img {
  height: 100%;
}

/* line 124, ../sass/_know.scss */
.colorBlock {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #d36b53;
}
/* line 129, ../sass/_know.scss */
.colorBlock h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* line 139, ../sass/_know.scss */
.knowledgeQuote {
  margin-top: 40px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 142, ../sass/_know.scss */
.knowledgeQuote .quoteBox {
  color: #fff;
  background-color: #d36b53;
  padding: 40px;
  width: 70%;
  margin: 0 auto;
}
/* line 149, ../sass/_know.scss */
.knowledgeQuote .signature {
  float: right;
  font-size: 11pt;
}

/* line 159, ../sass/_know.scss */
.contentWrapper {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 164, ../sass/_know.scss */
.years {
  position: relative;
  margin-top: 40px;
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 173, ../sass/_know.scss */
.leftYear {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 187, ../sass/_know.scss */
.knowHeaderWrapper3 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: red;
}

/* line 194, ../sass/_know.scss */
.colorBlockGreen {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #99cf99;
}
/* line 199, ../sass/_know.scss */
.colorBlockGreen h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* line 210, ../sass/_know.scss */
.internationalLink {
  margin-top: 40px;
  position: relative;
  left: -30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #99cf99;
  padding: 5px;
  min-height: 300px;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 184, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
.internationalLink:nth-child(3n) {
  float: right;
  margin-right: 0;
}
/* line 220, ../sass/_know.scss */
.internationalLink a {
  text-decoration: none;
  color: #fff;
}

/* line 227, ../sass/_know.scss */
.knowCols {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 232, ../sass/_know.scss */
.sharingWrapper {
  margin-top: 40px;
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 238, ../sass/_know.scss */
.sharingText {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 242, ../sass/_know.scss */
.sharingImg {
  margin-top: 30px;
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 245, ../sass/_know.scss */
.sharingImg img {
  width: 90%;
}

@media only screen and (max-width: 1100px) {
  /* line 253, ../sass/_know.scss */
  .knowledgeHeader {
    width: 100%;
    height: 100px;
    clear: both;
  }
  /* line 258, ../sass/_know.scss */
  .knowledgeHeader h3 {
    position: relative;
    top: -40px;
  }

  /* line 265, ../sass/_know.scss */
  h3.green {
    position: relative !important;
    top: 10px !important;
  }

  /* line 270, ../sass/_know.scss */
  .headerBlockKnow {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 274, ../sass/_know.scss */
  .knowledgeContent {
    clear: both;
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-left: 8.47458%;
  }

  /* line 280, ../sass/_know.scss */
  .knowBlock {
    height: 100px;
  }
  /* line 282, ../sass/_know.scss */
  .knowBlock h3 {
    position: relative;
    top: 10px;
  }
  /* line 286, ../sass/_know.scss */
  .knowBlock .colorBlock, .knowBlock .colorBlockGreen {
    width: 100%;
  }
  /* line 290, ../sass/_know.scss */
  .knowBlock img {
    display: none;
  }

  /* line 295, ../sass/_know.scss */
  .yearsImg {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
@media only screen and (max-width: 846px) {
  /* line 305, ../sass/_know.scss */
  .column {
    float: left;
    margin-right: 1.69492%;
    *margin-left: auto;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    min-height: 200px;
    margin-top: 20px;
  }
  /* line 184, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
  .column:nth-child(2n) {
    float: right;
    margin-right: 0;
  }

  /* line 313, ../sass/_know.scss */
  .sharingText {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 317, ../sass/_know.scss */
  .sharingImg {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 321, ../sass/_know.scss */
  .internationalLink {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    min-height: 140px;
  }

  /* line 326, ../sass/_know.scss */
  .trainingText {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 330, ../sass/_know.scss */
  .trainingImg {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    position: relative;
    left: -20px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 341, ../sass/_know.scss */
  .knowBlock h3 {
    top: -20px;
  }

  /* line 346, ../sass/_know.scss */
  .knowledgetop {
    background-position: right top;
  }

  /* line 350, ../sass/_know.scss */
  .internationalLink {
    left: -15px;
  }
}
/* line 1, ../sass/_invest.scss */
.investtop {
  margin-bottom: 40px;
  height: 600px;
  background: url("../images/investTop.jpg") no-repeat center top;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/*

.financeHeadBlock{
	@include span-columns(4,12);
}

.financeHeader{
	width: 200px;
	height: 200px;
	background: #d66c4e;
	position: relative;
	top: -32px;
	h3{
		color: #fff;
		text-align: center;
		position: relative;
		top: 75px;
	}
}

.howmuch{
	@include span-columns(11,12);
	@include push(1);
}

.howmuchSub, .howmuchBlue{
	padding-left: 300px;
	
}
.howmuchBlue{
	color: #0071a0;
}

.investStats{
	@include span-columns(12,12);
}

.financeHeader{
	@include span-columns(12,12)
}

*/
/* line 51, ../sass/_invest.scss */
.financeHeader {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: red;
}

/* line 56, ../sass/_invest.scss */
.financeHeadBlock {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 61, ../sass/_invest.scss */
.financeHeader {
  width: 200px !important;
  height: 200px !important;
  background: #d66c4e;
  position: relative;
  top: -40px;
}
/* line 68, ../sass/_invest.scss */
.financeHeader h3 {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50px;
}

/* line 78, ../sass/_invest.scss */
.financeContent {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 83, ../sass/_invest.scss */
.contentWrapperMore {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 88, ../sass/_invest.scss */
.howmuch {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 93, ../sass/_invest.scss */
.howmuchSub, .howmuchBlue {
  float: right;
  position: relative;
  right: 30px;
}

/* line 100, ../sass/_invest.scss */
.howmuchBlue {
  color: #0071a0;
}

/* line 104, ../sass/_invest.scss */
.investStats {
  margin-top: 40px;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 106, ../sass/_invest.scss */
.investStats img {
  width: 90%;
}

/* line 113, ../sass/_invest.scss */
.investBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: blue;
  margin-top: 40px;
  overflow: hidden;
}
/* line 118, ../sass/_invest.scss */
.investBlock .imgRight {
  overflow: hidden;
  height: 200px;
}
/* line 122, ../sass/_invest.scss */
.investBlock .imgRight img {
  height: 100%;
}

/* line 127, ../sass/_invest.scss */
.color1 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #d36b53;
}
/* line 132, ../sass/_invest.scss */
.color1 h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* line 142, ../sass/_invest.scss */
.color2 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #d36b53;
}
/* line 147, ../sass/_invest.scss */
.color2 h3 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* line 159, ../sass/_invest.scss */
.financeHeader {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 163, ../sass/_invest.scss */
.financeImg {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 167, ../sass/_invest.scss */
.volText {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 173, ../sass/_invest.scss */
.volunteerVid {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 178, ../sass/_invest.scss */
.volunteerText {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 183, ../sass/_invest.scss */
.gulfCoast {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 188, ../sass/_invest.scss */
.gulfVid img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

/* line 195, ../sass/_invest.scss */
.gulfText {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 200, ../sass/_invest.scss */
.david {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

/* line 205, ../sass/_invest.scss */
.davidImg img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

/* line 212, ../sass/_invest.scss */
.investBlock {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 216, ../sass/_invest.scss */
.volunteerText2 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: 8.47458%;
}

@media only screen and (max-width: 1100px) {
  /* line 224, ../sass/_invest.scss */
  .financeHeadBlock {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 229, ../sass/_invest.scss */
  .financeHeader {
    width: 100% !important;
    height: 100px !important;
    background: #d66c4e;
    position: relative;
    top: -40px;
  }
  /* line 236, ../sass/_invest.scss */
  .financeHeader h3 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 0px;
  }

  /* line 245, ../sass/_invest.scss */
  .investBlock {
    height: 100px;
  }
  /* line 248, ../sass/_invest.scss */
  .investBlock .color1 {
    width: 100%;
  }
  /* line 250, ../sass/_invest.scss */
  .investBlock .color1 h3 {
    top: 0;
  }
  /* line 254, ../sass/_invest.scss */
  .investBlock .color2 {
    width: 100%;
  }
  /* line 256, ../sass/_invest.scss */
  .investBlock .color2 h3 {
    top: 0px;
  }
  /* line 260, ../sass/_invest.scss */
  .investBlock img {
    display: none;
  }

  /* line 265, ../sass/_invest.scss */
  .volunteerVid {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 267, ../sass/_invest.scss */
  .volunteerVid img {
    position: relative;
    left: -10px;
    width: 90%;
  }

  /* line 274, ../sass/_invest.scss */
  .financeContent {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-left: 8.47458%;
  }
}
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 20, ../sass/screen.scss */
html, body {
  margin: 0;
}

/* line 25, ../sass/screen.scss */
body {
  font-family: AvenirNextLTPro-Regular, sans-serif;
  font-size: 12pt;
}

/* line 33, ../sass/screen.scss */
.pageWrapper {
  *zoom: 1;
  max-width: 119em;
  _width: 119em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
}
/* line 38, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pageWrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 42, ../sass/screen.scss */
p {
  padding-right: 1em;
}
